@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*colors:
#B30002 -- red
#6C0EB2 -- purple
#A301B2 -- mid
*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	color: #444;
	font-family: 'Roboto', sans-serif;
	padding: 50px;
	background: linear-gradient(to bottom right, #B30002,#6C0EB2);
	height: 100vh; /*toda tela vh = vertical height*/
	display: flex;
	align-items: flex-start; /*CROSS AXIS OR y axis*/
	justify-content: center; /*MAIN AXIS OR x axis*/
}

.pizza{
	max-width: 800px;
	border-radius: 4px;
	box-shadow: 0 30px 80px 10px rgba(0,0,0,.2);
	display: flex;
	align-items: stretch;
	overflow: hidden;
}


.pizza__hero{
	flex: 0 0 45%;
}

.pizza__image{
	width: 100%;
	display: block;
}

.pizza__content{
	flex: 1;
	background: white;
	padding: 20px 20px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.pizza__price{
	flex: 0 0 50px;
	background: linear-gradient(to top, #B30002,#6C0EB2);
	writing-mode: vertical-rl;
	color: white;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pizza__title{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.pizza__heading{
	font-size: 22px;
	margin-right: auto;
}

.pizza__tag{
	font-size: 12px;
	text-transform: uppercase;
	color: white;
	padding: 2px 8px;
	border-radius: 100px;
	margin-left: 5px;
}

.pizza__tag--1{background-color: #B30002;}

.pizza__tag--2{background-color: #B30002;}

.pizza__description{
	font-size: 14px;
}

.pizza__details{
	display: block; /*flex*/
	margin-top: auto;
}

.pizza_detail{
	font-size: 16px;
	text-transform: uppercase;
	margin-right: 20px;
	font-weight: 700;
	display: flex;
	align-items: center;
}

.emoji{
	font-size: 20px;
	margin-right: 5px;
}